pkgbase = xautolock-git
	pkgdesc = A program that launches a given screen locker for idle X session.
	pkgver = 2.2
	pkgrel = 1
	url = http://www.ibiblio.org/pub/Linux/X11/screensavers/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = git
	makedepends = imake
	depends = libxss
	provides = xautolock
	conflicts = xautolock
	source = xautolock::git+https://github.com/kkopec/xautolock.git
	md5sums = SKIP

pkgname = xautolock-git

